.latest-portfolio {
    .portfolio-title {
        h1 {

        }
        p {

        }
    }
    .portfolio-area  {
        .single-portfolio {
            position: relative;
            &:first-child {
                margin-bottom: 30px;
            }
            img {
                width: 100%;
            }
            h4 {
                content: '';
                display: block;
                width: 100%;
                bottom: 0;
                left: 0;
                position: absolute;
                text-align: center;
                background: #333;
                margin-bottom: 0;
                padding: 8px 0;
                color: #fff;
            }
        }
    }
}